@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: #0e112b;
}

main {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu {
  position: relative;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.menu .hamburger {
  display: block;
  position: absolute;
  left: 0;
  height: 3px;
  width: 30px;
  background: #f1f1f1;
  border-radius: 3px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111841;
  z-index: 1000;
}

header .logo {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

header #open {
  display: block;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header #open .hamb1 {
  top: 5px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: hamb1-anim 0.5s ease-in-out backwards;
          animation: hamb1-anim 0.5s ease-in-out backwards;
}

header #open .hamb2 {
  top: 12px;
  -webkit-animation: hamb2-anim 0.5s ease-in-out forwards;
          animation: hamb2-anim 0.5s ease-in-out forwards;
}

header #open .hamb3 {
  top: 20px;
  -webkit-animation: hamb3-anim 0.5s ease-in-out forwards;
          animation: hamb3-anim 0.5s ease-in-out forwards;
}

header #close {
  display: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header #close .hamb1 {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: hamb1-close-anim 0.5s ease-in-out forwards;
          animation: hamb1-close-anim 0.5s ease-in-out forwards;
}

header #close .hamb2 {
  top: 50%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-animation: hamb2-close-anim 0.5s ease-in-out forwards;
          animation: hamb2-close-anim 0.5s ease-in-out forwards;
}

.sidebar {
  position: fixed;
  right: -100%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.sidebar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar ul li {
  list-style: none;
  margin: 5px 0;
}

.sidebar ul li a {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #3f8ffc;
}

.sidebar.active {
  right: 0;
}

.content {
  position: relative;
  width: 100%;
  padding: 0;
  color: #f1f1f1;
}

@-webkit-keyframes hamb1-anim {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes hamb1-anim {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes hamb2-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hamb2-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hamb3-anim {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes hamb3-anim {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes hamb1-close-anim {
  from {
    top: 0%;
    right: -50%;
  }
  to {
    top: 50%;
    right: 0;
  }
}

@keyframes hamb1-close-anim {
  from {
    top: 0%;
    right: -50%;
  }
  to {
    top: 50%;
    right: 0;
  }
}

@-webkit-keyframes hamb2-close-anim {
  from {
    top: 0%;
    left: -50%;
  }
  to {
    top: 50%;
    left: 0;
  }
}

@keyframes hamb2-close-anim {
  from {
    top: 0%;
    left: -50%;
  }
  to {
    top: 50%;
    left: 0;
  }
}

@media only screen and (min-width: 600px) {
  header {
    padding: 20px 60px;
  }
  .sidebar {
    width: 50%;
    right: -50%;
  }
  .content {
    padding: 0;
  }
}

@media only screen and (min-width: 800px) {
  header {
    padding: 20px 80px;
  }
  .sidebar {
    width: 30%;
    right: -30%;
  }
  .content {
    padding: 0 80px;
  }
}

@media only screen and (min-width: 1050px) {
  header {
    padding: 20px 100px;
  }
  .sidebar {
    width: 20%;
    right: -20%;
  }
  .content {
    padding: 40px 100px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#215cfe), to(#a6f5ff));
  background: linear-gradient(to bottom, #215cfe 0%, #a6f5ff 100%);
  overflow: hidden;
}

.wrapper .sky {
  position: relative;
  width: 100%;
  height: 20vh;
}

.wrapper .sky .cloud1 {
  position: absolute;
  width: 20%;
  top: 40px;
  left: 25px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  opacity: 0.7;
}

.wrapper .sky .cloud1 svg {
  width: 100%;
  height: 100%;
}

.wrapper .sky .cloud2 {
  position: absolute;
  width: 30%;
  top: 20px;
  right: 20px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.8;
}

.wrapper .sky .cloud2 svg {
  width: 100%;
  height: 100%;
}

.wrapper .sky .cloud3 {
  position: absolute;
  width: 20%;
  top: 50%;
  right: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.5;
}

.wrapper .sky .cloud3 svg {
  width: 100%;
  height: 100%;
}

.wrapper .tree {
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
  height: 30vh;
  background: url("./ressources/mountains-top.png") no-repeat bottom center;
  background-size: cover;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  z-index: 1;
}

.wrapper .tree svg {
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 100%;
}

.wrapper .grass {
  position: relative;
  height: 4vh;
  max-height: 25px;
  background-image: url("./ressources/grass-md.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: cover;
  background-size: 100px 30px;
  z-index: 1;
}

.wrapper .pomodoro {
  position: relative;
  background-color: #4d7821;
  z-index: 10;
  height: 300px;
}

.wrapper .pomodoro .pomo-info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.wrapper .pomodoro .pomo-info .rounds {
  margin-top: 15px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 300;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.wrapper .pomodoro .pomo-info .time {
  display: none;
  font-family: "monospace";
  padding: 10px;
  font-size: 5em;
  font-weight: 100;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.wrapper .pomodoro .pomo-info .break {
  display: none;
  font-family: "monospace";
  color: burlywood;
  padding: 10px;
  font-size: 5em;
  font-weight: 200;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.wrapper .pomodoro .pomo-info .active {
  display: block;
}

.wrapper .pomodoro .pomo-info .btns {
  width: 60%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 450px) {
  .wrapper .pomodoro .pomo-info .btns {
    width: 100%;
  }
}

.wrapper .pomodoro .pomo-info .btns button {
  width: 48%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background: unset;
  outline: unset;
  border: unset;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.wrapper .pomodoro .pomo-info .btns button:hover {
  background-color: rgba(240, 255, 240, 0.25);
}
/*# sourceMappingURL=main-style.css.map */